@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мессенджер TalkingCat</title>
</head>
<body>
    <div>
        <h3>Пользователи</h3>
        <table>
            <tr>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>
                <td><p>Отчество</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Users)
            {
            <tr>
                <td><p>@b.SurName</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.SecondName</p></td>
                <td><p><a href="/User/UserCat/@b.Id">Страница пользователя</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>